
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.App {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('./img/backsun.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (max-width: 60rem) {
    padding: 1rem 0;
    height: 90vh;
    background-image: none;
  }
}

.container {
  display: flex;
}

.calculator {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: .3rem;
  background: linear-gradient(20deg,rgb(216, 216, 216), rgb(238, 238, 238), rgb(184, 184, 184));
  box-shadow: .1rem .2rem 0 rgba(172, 172, 172, 0.863), 
    -.2rem -.2rem 0px rgba(245, 245, 245, 0.897), 
    0 7rem 10rem rgba(50, 20, 10, .5);
  position: relative;

  @media (max-width: 60rem) {
    margin: .5rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}

.brand {
  font-size: 1rem;
  color: rgba(112, 112, 112, 0.644);
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: .1rem;

  @media (max-width: 60rem) {
    padding-left: 1rem;
  }
}

.keypad {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-shrink: 1;
  flex-grow: 1;  
  
    &__row {
    display: flex;
    margin-bottom: 1.5rem;

    @media (max-width: 60rem) {
      margin-bottom: 0;
    }
    
    &--key {
      font-size: 1.6rem;
      line-height: 1.6rem;
      width: 5rem;
      height: 5rem;
      background-color: rgb(247, 247, 247);
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      margin-right: 1.5rem;
      border-radius: 10%;
      border: none;
      cursor: pointer;
      box-shadow: 0 -.1rem .1rem .1rem rgba(255, 255, 255, 0.75),
        0 .1rem .1rem .1rem rgba(136, 136, 136, 0.5),
        inset 0 0rem 1.3rem rgba(121, 121, 121, 0.25);

      @media (max-width: 60rem) {
        width: 8rem;
        height: 8rem;
        border-radius: 0;
        margin-right: 0;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: none;
      }
      
      &--thin {
        height: 3rem;
        width: 11.5rem;
        font-size: 1rem;
        border-radius: .5rem;
        flex-grow: 0;
        color: darkgrey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
      }
      
      &:hover {
        background-color: rgb(236, 247, 238);
      }

      &:focus {
        outline: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.operation-key {
  background-color: rgb(9, 82, 7);
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;

  
  &:hover {
    background-color: rgb(36, 109, 33);
    // opacity: .4;
  }
}

.ico-plus {
  background-image: url('./img/ico-plus.svg');
}
.ico-minus {
  background-image: url('./img/ico-minus.svg');
}
.ico-multiply {
  background-image: url('./img/ico-multiply.svg');
}
.ico-divide {
  background-image: url('./img/ico-divide.svg');
}
.ico-equals {
  background-image: url('./img/ico-equals.svg');
}

.btn-key {
  border: none;
}

.display {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  text-align: right;
  letter-spacing: 2px;
  height: 5rem;
  line-height: 2rem;
  background: linear-gradient(rgb(100, 100, 100), rgb(44, 44, 44));
  color: springgreen;
  margin-bottom: 5rem;
  padding: 1.5rem;
  box-shadow: inset 0 1rem 1rem #222;

  @media (max-width: 60rem) {
    height: 10rem;
    font-size: 7.2rem;
    padding: 2rem;
    line-height: 6rem;
  }
}

.history {
  z-index: 1;
  position: absolute;
  padding: .5rem;
  top: 27px;
  right: 0;
  left: 0;
  height: 11rem;
  width: 25rem;
  font-size: 1rem;
  font-weight: 700;
  background: linear-gradient(rgb(0, 124, 196),  rgb(14, 117, 177));
  margin: 0 auto;
  transition: all .3s;
  transform: translateY(10rem);
  border: 4px solid rgb(3, 61, 109);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -.2rem .1rem rgb(140, 222, 255),
    0 -1rem 6rem rgba(5, 54, 87, 0.479),
    inset 0 2rem 4rem rgb(48, 48, 48);

  &__group {
    list-style: none;
    line-height: 1.6rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
    &--item {
      text-align: right;
      color: rgb(104, 212, 255);
      padding-right: 1rem;
      
    }
  }
}